@model ContactWeb.Models.Contact

@{
    ViewBag.Title = "Details";
}

<<h2>@ViewBag.Title - @Model.FriendlyName</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FriendlyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FriendlyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        @if (Model.Birthday != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Birthday)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Birthday)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.PhonePrimary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhonePrimary)
        </dd>

        @if (!string.IsNullOrWhiteSpace(Model.PhoneSecondary))
        {
            <dt>
                @Html.DisplayNameFor(model => model.PhoneSecondary)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhoneSecondary)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.FriendlyAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FriendlyAddress)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
